h2{
    color: green;
}
body{
    background-color:rgba(120, 200, 150,0.5);
}
#heading{
    color: red;
    text-align: center;
    text-decoration: underline overline;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    background-color: gray;
}
#para1{
    margin-left: 20px;
    text-align: justify;
    text-indent: 40px;
}